<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.BusDao">

    <resultMap id="BusMap" type="com..ids.line.model.Bus">
        <result column="city" property="cityCode"/>
        <result column="self_no" property="busSelfNo"/>
        <result column="device_no" property="deviceNo"/>
    </resultMap>

    <sql id="need_column">
        `city`,
        `self_no`,
        `device_no`
    </sql>

    <select id="findByCityCode" resultMap="BusMap">
        SELECT
        <include refid="need_column"/>
        FROM bus WHERE city = #{cityCode};
    </select>

</mapper>

