<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.member.center.service.dao.MemberDao">

    <resultMap id="MemberMap" type="com.square.mall.member.center.service.eo.MemberEo">
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="level" property="level"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
    </resultMap>

    <sql id="need_column">
        `name`,
        `phone`,
        `level`,
        `gender`,
        `email`
    </sql>

    <select id="findMemberByPhone" resultMap="MemberMap">
        SELECT
        <include refid="need_column"/>
        FROM member WHERE phone = #{phone};
    </select>

</mapper>

