<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.member.center.service.dao.MemberDao">

    <resultMap id="MemberMap" type="com.square.mall.member.center.service.eo.MemberEo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="mobile" property="mobile"/>
        <result column="level" property="level"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
    </resultMap>

    <sql id="need_column">
        `name`,
        `mobile`,
        `level`,
        `gender`,
        `email`
    </sql>

    <select id="selectMemberByMobile" resultMap="MemberMap">
        SELECT
        <include refid="need_column"/>
        FROM member WHERE mobile = #{mobile};
    </select>

    <insert id="insertMember" parameterType="com.square.mall.member.center.service.eo.MemberEo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (`id`, `name`, `mobile`, `level`, `gender`, `email`, `create_time`, `update_time`)
        VALUES (#{id}, #{name}, #{mobile}, #{level}, #{gender}, #{email}, now, now)
    </insert>

</mapper>

