<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.item.center.service.dao.CategoryDao">

    <resultMap id="CategoryMap" type="com.square.mall.item.center.service.eo.CategoryEo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="template_id" property="templateId"/>
    </resultMap>

    <sql id="need_column">
        `id`,
        `name`,
        `parent_id`,
        `template_id`
    </sql>

    <!-- 动态查询 -->
    <sql id="select">
        <where>
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
        </where>
    </sql>

    <insert id="insertCategory" parameterType="com.square.mall.item.center.service.eo.CategoryEo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO it_category (`id`, `name`, `parent_id`, `template_id`, `create_time`, `update_time`)
        VALUES (#{id}, #{name}, #{parentId}, {templateId}, now(), now())
    </insert>

    <insert id="updateCategoryByParentId" parameterType="com.square.mall.item.center.service.eo.CategoryEo">
        UPDATE it_category SET
        <if test="name != null and name !=''">
            name = #{name},
        </if>
        <if test="templateId">
            template_id = #{templateId},
        </if>
        update_time = now()
        WHERE parent_id = #{parentId}
    </insert>

    <delete id="deleteCategory" parameterType="Long" >
        DELETE FROM it_category where id = #{id}
    </delete>

    <select id="selectCategoryByParentId" resultMap="CategoryMap">
        SELECT
        <include refid="need_column"/>
        FROM it_category WHERE parent_id = #{parentId}
    </select>

</mapper>

