<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.item.center.service.dao.ExtraAttributesDao">

    <resultMap id="ExtraAttributesMap" type="com.square.mall.item.center.service.eo.ExtraAttributesEo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="template_id" property="templateId"/>
    </resultMap>

    <sql id="need_column">
        `id`,
        `name`,
        `template_id`
    </sql>

    <!-- 动态查询 -->
    <sql id="select">
        <where>
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
        </where>
    </sql>

    <select id="selectExtraAttributesByCondition" resultMap="ExtraAttributesMap">
        SELECT
        <include refid="need_column"/>
        FROM it_extra_attributes <include refid="select"/>
    </select>

    <insert id="insertExtraAttributes" parameterType="com.square.mall.item.center.service.eo.ExtraAttributesEo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO it_extra_attributes (`id`, `name`, `template_id`, `create_time`, `update_time`)
        VALUES (#{id}, #{name}, #{templateId}, now(), now())
    </insert>

    <insert id="updateExtraAttributes" parameterType="com.square.mall.item.center.service.eo.ExtraAttributesEo">
        UPDATE it_extra_attributes SET
        <if test="name != null and name !=''">
            name = #{name},
        </if>
        <if test="templateId != null">
            template_id = #{templateId},
        </if>
        update_time = now()
        WHERE id = #{id}
    </insert>

    <delete id="deleteExtraAttributesByTemplateId" parameterType="Long" >
        DELETE FROM it_extra_attributes where template_id = #{templateId}
    </delete>

    <select id="selectExtraAttributesByName" resultMap="ExtraAttributesMap">
        SELECT
        <include refid="need_column"/>
        FROM it_extra_attributes WHERE name = #{name}
    </select>

    <select id="selectExtraAttributesByTemplateId" resultMap="ExtraAttributesMap">
        SELECT
        <include refid="need_column"/>
        FROM it_extra_attributes WHERE template_id = #{templateId}
    </select>

</mapper>

