<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.item.center.service.dao.ItemDao">

    <resultMap id="ItemMap" type="com.square.mall.item.center.service.eo.ItemEo">
        <id column="id" property="id"/>
    </resultMap>

    <sql id="need_column">
        `id`
    </sql>

    <!-- 动态查询 -->
    <sql id="select">
        <where>
            is_delete = 0
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            <if test="firstChar != null and firstChar !=''">
                and first_char = #{firstChar}
            </if>
        </where>
    </sql>

    <select id="selectItemByCondition" resultMap="ItemMap">
        SELECT
        <include refid="need_column"/>
        FROM it_item <include refid="select"/>
    </select>

    <insert id="insertItem" parameterType="com.square.mall.item.center.service.eo.ItemEo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO it_item (`id`, `name`, `first_char`, `create_time`, `update_time`)
        VALUES (#{id}, #{name}, #{firstChar}, now(), now())
    </insert>

    <insert id="updateItem" parameterType="com.square.mall.item.center.service.eo.ItemEo">
        UPDATE it_item SET
        <if test="name != null and name !=''">
            name = #{name},
        </if>
        <if test="firstChar != null and firstChar !=''">
            first_char = #{firstChar},
        </if>
        update_time = now()
        WHERE id = #{id} and is_delete = 0
    </insert>

    <delete id="deleteItem" parameterType="Long" >
        UPDATE it_item SET is_delete = 1 where id = #{id} and is_delete = 0;
    </delete>

    <select id="selectItemByName" resultMap="ItemMap">
        SELECT
        <include refid="need_column"/>
        FROM it_item WHERE name = #{name} and is_delete = 0;
    </select>

    <select id="selectItemById" resultMap="ItemMap">
        SELECT
        <include refid="need_column"/>
        FROM it_item WHERE id = #{id} and is_delete = 0;
    </select>


</mapper>

