<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.item.center.service.dao.TemplateSpecificationDao">

    <resultMap id="TemplateSpecificationMap" type="com.square.mall.item.center.service.eo.TemplateSpecificationEo">
        <id column="id" property="id"/>
        <result column="template_id" property="templateId"/>
        <result column="spec_id" property="specId"/>
    </resultMap>

    <sql id="need_column">
        `id`,
        `template_id`,
        `spec_id`
    </sql>

    <!-- 动态查询 -->
    <sql id="select">
        <where>
            is_delete = 0
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
            <if test="specId != null">
                and spec_id = #{specId}
            </if>
        </where>
    </sql>

    <select id="selectTemplateSpecificationByCondition" resultMap="TemplateSpecificationMap">
        SELECT
        <include refid="need_column"/>
        FROM it_template_specification <include refid="select"/>
    </select>

    <insert id="insertTemplateSpecification" parameterType="com.square.mall.item.center.service.eo.TemplateSpecificationEo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO it_template_specification (`id`, `template_id`, `spec_id`, ``create_time`, `update_time`)
        VALUES (#{id}, #{templateId}, #{specId}, now(), now())
    </insert>

    <insert id="updateTemplateSpecification" parameterType="com.square.mall.item.center.service.eo.TemplateSpecificationEo">
        UPDATE it_template_specification SET
        <if test="templateId != null">
            template_id = #{templateId},
        </if>
        <if test="specId != null">
            spec_id = #{specId},
        </if>
        update_time = now()
        WHERE id = #{id} and is_delete = 0
    </insert>

    <delete id="deleteTemplateSpecification" parameterType="Long" >
        UPDATE it_template_specification SET is_delete = 1 where id = #{id} and is_delete = 0;
    </delete>

    <select id="selectSpecIdByTemplateId" resultType="Long">
        SELECT spec_id FROM it_template_specification WHERE template_id = #{templateId}
    </select>

</mapper>

