<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.item.center.service.dao.TemplateDao">

    <resultMap id="TemplateMap" type="com.square.mall.item.center.service.eo.TemplateEo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <sql id="need_column">
        `id`,
        `name`
    </sql>

    <!-- 动态查询 -->
    <sql id="select">
        <where>
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <select id="selectTemplateByCondition" resultMap="TemplateMap">
        SELECT
        <include refid="need_column"/>
        FROM it_template <include refid="select"/>
    </select>

    <insert id="insertTemplate" parameterType="com.square.mall.item.center.service.eo.TemplateEo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO it_template (`id`, `name`, `create_time`, `update_time`)
        VALUES (#{id}, #{name}, now(), now())
    </insert>

    <insert id="updateTemplate" parameterType="com.square.mall.item.center.service.eo.TemplateEo">
        UPDATE it_template SET
        <if test="name != null and name !=''">
            name = #{name},
        </if>
        update_time = now()
        WHERE id = #{id}
    </insert>

    <delete id="deleteTemplate" parameterType="Long" >
        DELETE FROM it_template where id = #{id}
    </delete>

    <select id="selectTemplateByName" resultMap="TemplateMap">
        SELECT
        <include refid="need_column"/>
        FROM it_template WHERE name = #{name}
    </select>

    <select id="selectTemplateById" resultMap="TemplateMap">
        SELECT
        <include refid="need_column"/>
        FROM it_template WHERE id = #{id}
    </select>

</mapper>

