<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.square.mall.item.center.service.dao.TemplateBrandDao">

    <resultMap id="TemplateBrandMap" type="com.square.mall.item.center.service.eo.TemplateBrandEo">
        <id column="id" property="id"/>
        <result column="template_id" property="templateId"/>
        <result column="brand_id" property="brandId"/>
    </resultMap>

    <sql id="need_column">
        `id`,
        `template_id`,
        `brand_id`
    </sql>

    <!-- 动态查询 -->
    <sql id="select">
        <where>
            is_delete = 0
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
            <if test="brandId != null">
                and brand_id = #{brandId}
            </if>
        </where>
    </sql>

    <select id="selectTemplateBrandByCondition" resultMap="TemplateBrandMap">
        SELECT
        <include refid="need_column"/>
        FROM it_template_brand <include refid="select"/>
    </select>

    <insert id="insertTemplateBrand" parameterType="com.square.mall.item.center.service.eo.TemplateBrandEo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO it_template_brand (`id`, `template_id`, `brand_id`, `create_time`, `update_time`)
        VALUES (#{id}, #{templateId}, #{brandId}, now(), now())
    </insert>

    <insert id="updateTemplateBrand" parameterType="com.square.mall.item.center.service.eo.TemplateBrandEo">
        UPDATE it_template_brand SET
        <if test="templateId != null">
            template_id = #{templateId},
        </if>
        <if test="brandId != null">
            brand_id = #{brandId},
        </if>
        update_time = now()
        WHERE id = #{id} and is_delete = 0
    </insert>

    <delete id="deleteTemplateBrand" parameterType="Long" >
        UPDATE it_template_brand SET is_delete = 1 where id = #{id} and is_delete = 0;
    </delete>

    <select id="selectBrandIdByTemplateId" resultType="Long">
        SELECT brand_id FROM it_template_brand WHERE template_id = #{templateId}
    </select>

</mapper>

