<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ibuscloud.ids.line.dao.BusStatisticsDao">

    <resultMap id="BusStatisticsMap" type="com.ibuscloud.ids.line.model.BusStatistics">
        <result column="route_no" property="routeNo"/>
        <result column="direction" property="direction"/>
        <result column="suggest_leave_time" property="suggestLeaveTime"/>
        <result column="plan_leave_time" property="planLeaveTime"/>
    </resultMap>

    <sql id="need_column">
        `route_no`,
        `direction`,
        `suggest_leave_time`,
        `plan_leave_time`
    </sql>

    <select id="findLatestLeaveTimes" resultMap="BusStatisticsMap">
        SELECT
        <include refid="need_column"/>
        FROM leave_time_aided_dispatch
        WHERE route_no = #{routeNo} AND direction = #{direction} AND date = #{date}
        AND cur_time = (SELECT MAX(cur_time) FROM leave_time_aided_dispatch WHERE cur_time &lt; NOW()
        AND route_no = #{routeNo} AND date = #{date} AND direction = #{direction});
    </select>

</mapper>

